body {
  background-color: #312f2c;
  height: 100vh;
  font-family: var(--font-dm-sans);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 300px;
}

.sidebar__navigation {
  background-color: #3b3c36;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
  background-color: transparent;
  display: flex;
  border-radius: 8px;
  padding: 16px 0 0 16px;
  color: #ffff;
}

.sidebar__navigation .logo img {
  width: 80px;
}

.sidebar nav ul {
  margin-top: 20px;
  padding: 0 20px 10px 20px;
}

.sidebar ul li {
  padding: 10px 0;
}

.sidebar nav ul li a {
  color: #faf9f6;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.library {
  background-color: #3b3c36;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4px 8px;
  color: #faf9f6;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}

.library .library__content {
  display: flex;
  justify-content: space-between;
}

.library .library__button {
  display: flex;
  margin-right: 10px;
  color: #faf9f6;
  background-color: transparent;
  border: 0px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 20px 10px;
}

.library .library__button .fa {
  font-size: 20px;
  font-weight: 300;
  color: #faf9f6;
  margin-right: 10px;
  padding-right: 8px;
}

.library .library__content .fa-plus {
  margin: 24px 10px;
  color: #faf9f6;
}

.section-playlist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: #262424;
  color: #faf9f6;
  font-weight: 600;
  font-size: 14px;
  margin: 8px 0px;
  padding: 16px 10px;
  border-radius: 10px;
}

.section-playlist .section-playlist__content {
  display: flex;
  flex-direction: column;
}

.section-playlist__content .text {
  padding-bottom: 14px;
  color: #ffff;
}

.section-playlist__content .title {
  font-weight: 700;
}

.section-playlist__content .subtitle {
  font-weight: 500;
  font-size: 12px;
}

.section-playlist__content .section-playlist__button {
  display: flex;
  justify-content: center;
  background-color: #5e4075;
  color: #faf9f6;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  padding: 10px;
  margin-top: 12px;
  border: 0;
  width: 113px;
}

.section-playlist__content .section-playlist__button:hover {
  background: #faf9f6;
  color: #262424;
}

.sidebar .cookies {
  margin: 20px 25px;
}

.sidebar .cookies a {
  color: #faf9f6;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.sidebar .cookies a:hover {
  text-decoration: underline;
}

.languages .languages__button {
  align-items: center;
  background-color: transparent;
  border: 1px solid snow;
  color: #faf9f6;
  font-weight: bold;
  cursor: pointer;
  width: 170px;
  margin: 8px;
  padding: 8px;
  border-radius: 20px;
}

.disclaimer-premium {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.disclaimer-premium .text {
  flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premium__title {
  color: #faf9f6;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
  color: #faf9f6;
  font-size: 14px;
  font-weight: 500;
}

.disclaimer-premium button {
  background-color: #5e4075;
  color: #faf9f6;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  flex-shrink: 0;
}

.disclaimer-premium button:hover {
  transform: scale(1.04);
  cursor: pointer;
}
