/* HEADER */

.main-container {
    position: fixed;
    top: 0;
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    background-color: #cc9fc2;
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left {
    margin-right: 0.75rem;
}

.arrow-left,
.arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: #faf9f6;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background: var(--bg-icon);
    border-radius: 40px;
    border: none;
}

.header__search img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    color: #faf9f6;
}

.header__search input {
    background-color: transparent;
    border: none;
    padding: 0px 100px 0 12px;
    color: #faf9f6;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__search input::placeholder {
    color: #faf9f6;
}

.header__login .subscribe {
    color: #faf9f6;
    font-size: 16px;
    font-weight: 700;
    margin-right: 32px;
    margin-left: 15px;
    background-color: transparent;
    border: none;
}

.header__login .login {
    width: 80px;
    height: 40px;
    background-color: #faf9f6;
    font-size: 12px;
    font-weight: bold;
    color: #a18cd1;
    border-radius: 40px;
    border: none;
    padding: 10px 20px;
}